/*règles css mobiles*/
  html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  } 
  #bloc_principal{
    margin: 0;
    padding:0;
  } 
  /*Header*/
  .header_bloc{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 25px 0 25px;
    }
  .header_bloc .reservia_logo{
    order: 1;
    }
  .header_bloc .principale{
    display: flex;
    align-items: flex-start;
    order: 3;
    margin-left: 0;
    padding-top: 15px;
    border-bottom: solid #F2F2F2;
    padding-bottom: 14px;  
    }
  nav ul{
    padding-left: 0;
    } 
  .header_bloc .sign-up{ 
    order: 2; 
    padding-right: 45px;
    }  
  .border-one{
    border-bottom: solid #F2F2F2;
    padding-left: 20px; 
    padding-bottom: 14px;
    margin-right: 20px;
  }
  .border-one:hover{
    border-top: none;
    border-bottom: solid #0065FC;
    border-width: 2px;
    color: #0065FC;
  }
  .border-two{
    border-bottom: solid #F2F2F2;
    padding-left: 20px;
    padding-bottom: 14px; 
    margin-left: 30px;
  }
  .border-two:hover{
    border-top: none;
    border-bottom: solid #0065FC;
    border-width: 2px;
    color: #0065FC;
  }

  /*Section 1. recherche et filtres*/
  #search{
    margin: 0 25px 0 25px;
  }
  h1{
    margin-top: 40px;
    font-size: 1.4em;
    padding: 15px;
  }
  .p_one{
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  #search{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .form{
    padding-bottom: 15px;
  }
  .map{
    font-size: 1.3em;
    width: 25px;
    height: 20px;
    padding-right: 15px;
    padding-bottom: 15px;;
  }
  .fa-map-marker-alt{
    padding-left: 9px;
    padding-top: 8px;
  }
  input{ 
    opacity: 0.3;
    padding-left: 10px; 
  }
  .test{
    width: 55px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
  }
  .form button i{
    display: block;
  }
  .search_text{
    display: none;
  }
/*Filtres*/
  .title{
    display: flex; 
    align-self: flex-start;
    padding-left: 5px;
    margin-bottom: 115px;
    position: absolute;
  }
  #filters{
    display: flex; 
    flex-wrap: wrap;
  }
  .economique, .familial{
    margin-top: 45px;
  }
  .romantique, .animaux{
    margin-top: 10px;
  }
  .familial{
    padding-left: 20px;
  }
  .filter-group{
    margin-left: 5px;
    margin-top: 0;
    position: relative; 
    width: 82%;
    height: 33px;
    font-size: 1.1em;
  }
  .filter-group:hover{
    transform: scale(1.11);
  }
  .filter-group .icon{
   padding: 10.5px;
   font-size: 0.9em;
  }
  .p_two{
    font-size: 0.95em;
  }
  #information{
    padding: 10px;
  }
  /*Section 2. Hébergement*/
  #accommodation{
    display:flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-right:0;
    margin-left:0;
  }
  /*Populaire*/
  aside{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0 5px;
    border-radius: 0;
  }
  h2{
    font-size: 1.3em;
    padding-left: 25px;
  }
  #populars{
    padding-top: 25px;
    padding-left: 0;
  }
  #popcards{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .fa-chart-line{
    padding-right: 25px;
    font-size: 1.3em;
  }
  .popbox{
    display: flex;
    width: 94%;
    height: 130px;
    border-radius: 18px;
  }
  .image{
    object-fit: cover;
    width: 85%;
    height: 130px;;
  }
  .bloc-legende p{
    font-weight: normal;
  }
  .legende{
    padding-top: 5px;
    color: black;
    font-weight: bold !important;
  }
  .stars{
    font-size: small;
  }

/*Hébergement général*/
  #hostels-wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #FFFFFF;
    margin-right: 0;
  }
  #cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }
  .cardsbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 92%;
    height: 195px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .picture{
    object-fit: cover;
    width: 100%;
    height: 105px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .bloc-legende-H p{
    font-weight: normal; 
  } 
  .bloc-legende-H i{
    font-size: small;
  }
  .legende_h{
    color: black;
    font-weight: bold !important; 
  }
  #show{
    padding-left: 25px;
  }
  /*Section 3. activités*/
  #activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  #activities h2{
    font-size: 1.3em;
    padding-left: 25px;
  }
  #container{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .box-A{
    border-radius: 14px;
    margin-bottom: 30px;
    width: 100%;
    height: 175px;
  }
  .box-A  .legende_L{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .small-box1, .small-box2{
    display: block;
  }
  .box-B1 .box-B2{
    margin-bottom: 30px;
    width: 92%;
    height: 120px;
    padding: 0;
  }
  .large_image{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .small_image {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
 .small_image_a, .small_image_b{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  /*Footer*/
  footer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px 0 55px 0;
  }
  footer h3{
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 10px;;
  }
  footer a{
    font-size: 1.11em;
    padding-top: 5px;
  }  
  .footer_container_1{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0; 
    padding-left: 35px;
    padding-bottom: 0;
  }
  .footer_container_2{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-left: 35px;
    padding-bottom: 0;
  }
  .footer_container_3{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-left: 35px;
    padding-bottom: 0;
  }



