/*règles css mobiles*/
  html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;  
    flex: none;
  }
  /*Header*/
  .header_bloc{
    display: flex;
    flex-wrap: wrap;
    }
  .header_bloc .reservia_logo{
    order: 1;
    }
  .header_bloc .principale{
    display: flex;
    order: 3;
    margin-left: 0;
    align-items: flex-start;
    }
  nav ul{
    padding-left: 0;
    } 
  .header_bloc .sign-up{ ; 
    order: 2; 
    }  
  .border-one{
    border-bottom: solid #F2F2F2;
    margin-left: 0;
    padding-bottom: 14px;   
  }
  .border-one:hover{
    border-top: none;
    border-bottom: solid #0065FC;
    border-width: 2px;
    color: #0065FC;
  }
  .border-two{
    border-bottom: solid #F2F2F2;
    padding-left: 20px;
    padding-bottom: 14px; 
  }
  .border-two:hover{
    border-top: none;
    border-bottom: solid #0065FC;
    border-width: 2px;
    color: #0065FC;
  }
  /*Section 1. recherche et filtres*/
  h1{
    margin-top: 40px;
  }
  .p_one{

  }
  #search{
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%
  }

  /*Section 2. Hébergement*/
  #hostels-wrapper{
    width:100%;
    justify-content: center;
  }
  #cards{
    flex-wrap: wrap;;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  aside{
    width: 100%;
    justify-content: center;;
  }
  #popcards{
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    width: 100%;

  }

  /*Section 3. activités*/
  #activities{
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    width:100%;

  }
  footer{
    width: 100%;
    justify-content: center;
  }
  .footer_container_1{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer_container_2{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer_container_3{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }



