/* Feuille de style desktop*/
*{
  margin: 0;
  padding: 0;
}
a, p, h1, h2, h3, div, nav{
  font-family: 'Raleway', sans-serif;
 }
#bloc_principal{
  margin: 18px 30px 50px;
}
/*Header*/
.header_bloc{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
nav ul{
  display: flex;
  list-style-type: none; 
  padding-right: 20px; 
}
nav a{
  padding: 30px;
  font-size: 0.9em;
  text-decoration: none;
}
.border-one{
  bottom: 20px;
  border-top: transparent;
  color: black;
}
.border-one:hover{
  border-top: solid #0065FC;
  border-width: 2px;
  color: #0065FC;
  font-weight: bold;
}
.border-two{
  bottom:20px;
  border-top: transparent;
  color: black;
}
.border-two:hover{
  border-top: solid #0065FC;
  border-width: 2px;
  color: #0065FC;
  font-weight: bold;
}
.sign-up{ 
  padding-right: 40px;
  font-size: 0.9em;
  color: #0065FC;
  font-weight: bold;
}
.sign-up:hover{
  color: #DEEBFF;
  font-weight: bold;
}

/*Section de recherche*/
/*Formulaire*/
h1{
  font-size: 1.2em;
  margin-top: 25px;
}
.p_one{
  margin-bottom: 15px;;
  font-size: 1em;
  color: grey;
  font-weight: normal;
}
.form{
  display: flex;
  justify-content: flex-start;
  border: 1px transparent solid;
  margin-bottom: 5px;
}
.map{ 
  border: 9px transparent solid;
  background-color: #F2F2F2;
  width: 25px;
  height: 25px;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  padding-left:10px;
  padding-top: 5px;
}
input{ 
  padding-left: 15px; 
  border: 1px solid #F2F2F2; 
}
.search_color::placeholder{
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.form button i{
  display: none;
}
.test{
  background-color: #0065FC;
  color: white; 
  width: 100px;
  height: 48px;
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.9em;
}
.test:hover{
  background-color: #F2F2F2;
  color: #0065FC;
  font-weight: bold;
}
/*Filtres*/
.title{
  font-size: 1em;
  padding-top: 10px;
  margin-right: 10px;
}
#filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}
#filters h3{
  font-size: 1.1em;
  }
a{
  text-decoration: none;
}
.filter-group{ 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6.5px 18px; 
  margin: 25px 20px 10px;
  border: 0.15px #BBBBBB solid;
  border-radius: 50px;
  height: 25px; 
  color:black;
}
.filter-group:hover{
  transform: scale(1.15);
}
.filter-group:hover{
  background-color: #F2F2F2;
  color: #0065FC;
  border-color: #0065FC;
  font-weight: bold;
}
.filter-group .icon{
  display: flex;
  align-items:center;
  font-size: 0.8em;
  padding: 12px;
  color: #0065FC;
  position: relative;
  right: 20px;
  border-radius : 50px;
  background-color: #DEEBFF 
}
.filter-group:hover .icon{
  background-color: #0065FC;
  color:  #DEEBFF;
}
.filter-group h3{
  position: relative;
  right: 5px;
}
#information{
  display: flex;  
  margin-top: 15px;
  margin-bottom: 20px;
}
.info-sign{
  padding: 2px 8px;
  font-size: 0.8em;
  font-weight: normal;
  color: #0065FC;
  border: 1px #DEEBFF solid;
  height: 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 3px;
}
.p_two{
  font-size: 1em;
  color: grey;
  font-weight: normal;
}

/*Section hebergement*/
#accommodation{
  display: flex; 
  width: 100%;
}
#hostels-wrapper{
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  width: 67%;
  border-radius: 10px;
  margin-right: 20px;
  padding-top: 25px;
}
h2{
  font-size: 1.1em;
  padding-left: 45px;
  padding-top: 10px;
}
#cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px 0 5px;
}
.cardsbox{  
  display:flex;
  flex-wrap: wrap; 
  background-color: #FFFFFF;
  box-shadow: 6px 6px 6px #ceccccec;
  border: 5px white solid;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px; 
  width: 27%;
  height: 175px;
}
.cardsbox:hover{
  transform: scale(1.1);
}
.bloc-legende-H{
  padding-left: 10px;
 
}
.picture{  
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 105px;
}
.legende_h{
  color: black;
  font-size: 1em;
  padding-top: 5px;
}
p{
  font-size: 0.75em;
  color: grey;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fa-star{
  color: #0065FC;
  padding-top: 5px;
  padding-bottom: 10px;
}
#show{
  padding-left: 45px;
  font-size: 1.1em;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
#show:hover{
  color: #0065FC;
}   

/*Aside*/
aside{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #F2F2F2;
  width: 31%;
  border-radius: 10px;
  margin-left: 20px;
}
#populars{
  display : flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: 30px;
  padding-top: 30px;
}
.fa-chart-line{
  padding-top: 15px;
  padding-right: 50px;
}
#popcards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px 30px 25px; 
  height: 80%;
}
.popbox{
  display: flex;
  border: 5px  white solid;
  box-shadow: 6px 6px 6px #ceccccec;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 90%;
  height: 120px;
  margin-bottom: 20px; 
}
.popbox:hover{
  transform: scale(1.1);
}
.image{
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 36%;
  height: 120px;
}
.bloc-legende{
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 5%;
}
.legende{
  color: black;
  font-size: 1em;
  margin-bottom: 0;
}
.stars{
  padding-top: 25px;
}

/*Section activités*/
#activities{
  width: 100%;
  margin: 25px 0 70px;
}  
#activities_title{
  padding-left: 2px;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 1.1em;
}
#container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box-A{
  border: 1px solid #F2F2F2;
  box-shadow: 5px 5px 5px #F2F2F2;
  border-radius: 22px;
  padding-bottom: 10px;
}
.box-A:hover{
  transform: scale(1.1)
}
.small-box1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-box2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-B1{ 
  border: 1px solid #F2F2F2;
  box-shadow: 5px 5px 5px #F2F2F2;
  border-radius: 14px;
  padding-bottom: 10px;
}
.box-B2{
  border: 1px solid #F2F2F2;
  box-shadow: 5px 5px 5px #F2F2F2;
  border-radius: 14px;
  padding-bottom: 10px;
}
.box-B1:hover{
  transform: scale(1.1)
}
.box-B2:hover{
  transform: scale(1.1)
}
.small_image{
  object-fit: cover;
  background-position: top;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  width: 320px;
  height: 140px;
}
.small_image_a{
  object-fit: cover;
  background-position: top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 320px;
  height: 190px;
}
.small_image_b{
  object-fit: cover;
  background-position: top;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 320px;
  height: 90px;
}
.large_image{
  object-fit: cover;
  background-position: top;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  width: 320px;
  height: 360px;
}
.legende_L{
  color: black;
  font-size: 1em;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Footer*/
footer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #F2F2F2;
  width: 100%;
  padding: 60px 0 70px ;
}
h3{
  font-size: 0.9em;
} 
.footer_container_1{
 display: flex;
 flex-direction: column;
 padding-left: 40px;
 padding-right: 310px;
}
.footer_container_2{
  display: flex;
  flex-direction: column;
  padding-right: 310px;
 }
 .footer_container_3{
  display: flex;
  flex-direction: column;
  padding-right: 310px;
 }
 footer a{
   font-size: 1em;
   color: rgba(0, 0, 0, 0.699);
   font-weight: normal;
   padding-top: 15px;
 }
 footer a:hover{
   color: #0065FC
 }
 footer h3{
  font-size: 1.1em;
  padding-bottom: 15px;
 }
 
 /*end*/